{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content_title %} {% trans 'Dashboard' %} {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fa fa-tachometer-alt"></i> {% trans 'Home' %}</a></li>
        <li class="breadcrumb-item">{% trans 'Dashboard' %}</li>
    </ol>
{% endblock %}


{% block content %}
    {% get_side_menu using="app_list" as dashboard_list %}
    {% if dashboard_list %}
        {% widthratio dashboard_list|length 2 1 as middle %}
    {% endif %}

    <div class="col-6 mb-3">
        <button class="btn btn-primary" id="daily" onclick="daily()">Daily</button>
        <button class="btn btn-primary" id="monthly" onclick="monthly()">Monthly</button>
        <button class="btn btn-primary" id="yearly" onclick="yearly()">Yearly</button>
   
       </div>
       <div class="col-6 mb-3">
           
       <form method="POST">
        {% csrf_token %}
        <div class="row">
        <input required type="text" onfocus="(this.type='date')" class="form-control col-4 ml-1" name="from" id="" placeholder="From : DD/MM/YYYY">
        <input required type="text" onfocus="(this.type='date')" class="form-control col-4 ml-1" name="to" id="" placeholder="To : DD/MM/YYYY">
        <button type="submit" class="btn btn-success ml-1" id="yearly" onclick="yearly()">submit</button>
        </div>
    </form>
       </div>
        <div class="col-12 text-center shadow rounded mb-3">
        <h2>Sales Report</h1> 
        </div>
   

    <div class="col-12">
        <canvas class="shadow rounded mb-5" id="graph" height="200" width="600px"></canvas>
    </div>
    <div class="col-lg-9 col-12">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                {% for app in dashboard_list %}
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">{{ app.name }}</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tbody>
                                {% for model in app.models %}
                                    <tr>
                                        <td>
                                            {% if model.url %}<a href="{{ model.url }}">{{ model.name }}</a>{% else %}{{ model.name }}{% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group float-right">
                                                {% if model.add_url %}
                                                    <a href="{{ model.add_url }}" class="btn btn-sm {{ jazzmin_ui.button_classes.success }} btn-flat addlink">{% trans 'Add' %}</a>
                                                {% endif %}
                                                {% if model.url %}
                                                    {% if model.view_only %}
                                                        <a href="{{ model.url }}" class="btn btn-sm {{ jazzmin_ui.button_classes.info }} btn-flat viewlink">{% trans 'View' %}</a>
                                                    {% else %}
                                                        <a href="{{ model.url }}" class="btn btn-sm {{ jazzmin_ui.button_classes.info }} btn-flat changelink">{% if model.custom %}{% trans 'Go' %}{% else %}{% trans 'Change' %}{% endif %}</a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    {% if forloop.counter == middle|add:"0" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                    {% endif %}

                {% endfor %}
                </div>
        </div>

    </div>
    <div class="col-lg-3 col-12">
        <div id="content-related">
            <div class="module" id="recent-actions-module">
                <h3>{% trans 'Recent actions' %}</h3>
                {% load log %}
                {% get_admin_log 6 as admin_log for_user user %}
                {% if not admin_log %}
                    <p>{% trans 'None available' %}</p>
                {% else %}
                    <div class="timeline">
                        {% for entry in admin_log %}
                            <div>
                                {% if entry.is_change %}
                                    <i class="fas fa-edit bg-blue"></i>
                                {% elif entry.is_deletion %}
                                    <i class="fas fa-trash bg-danger"></i>
                                {% elif entry.is_addition %}
                                    <i class="fas fa-plus-circle bg-success"></i>
                                {% endif %}

                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> {% blocktrans with timesince=entry.action_time|timesince %}{{ timesince }} ago{% endblocktrans %}</span>
                                    <h3 class="timeline-header no-border">
                                        {% if entry.is_deletion or not entry.get_admin_url %}
                                            {{ entry.object_repr }}
                                        {% else %}
                                            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                        {% endif %}

                                        {% if entry.model %}
                                            <span class="mini quiet">
                                                {% filter capfirst %}
                                                    {{ entry.model }}
                                                {% endfilter %}
                                            </span>
                                        {% endif %}
                                    </h3>
                                    {% if not entry.is_deletion %}
                                        <div class="timeline-body">
                                            {% if entry.is_addition %}
                                                {{ entry }}
                                            {% else %}
                                                <ul style="list-style: none; padding: 0;">
                                                    {% action_message_to_list entry as action_message_list %}
                                                    {% for action_message in action_message_list %}
                                                        <li>{{ action_message.msg|style_bold_first_word }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div>
                            <i class="fa fa-clock bg-gray"></i>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

   
    <script>
         function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
                }

                function getRandomColorEachBar(count) {
    var data =[];
    for (var i = 0; i < count; i++) {
        data.push(getRandomColor());
    }
    return data;
}

    {% if user_date %}
    var ctx = document.getElementById('graph').getContext('2d');
         var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for key in user_date.keys %} '{{key|date}}', {% endfor %}],
                datasets: [{
                   
                    data: [{% for value in user_date.values %} '{{value}}', {% endfor %}],
                    backgroundColor: getRandomColorEachBar({{user_date|length}}),
                    borderWidth: 1
                }]
            },
            options: { 
                plugins:{
                legend: {
    display: false,
},
tooltip: {
                callbacks: {
                    label: function(context) {
                        let label = context.dataset.label || '';

                        if (label) {
                            label += ': ';
                        }
                        if (context.parsed.y !== null) {
                            label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'INR' }).format(context.parsed.y);
                        }
                        return label;
                    }
                }
            }

                },
                scales: {
                    x:{
                        title:{
                            display:'true',
                            color:'red',
                            text:'Day',
                        }
                    },
                    y: {
                        ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, ticks) {
                        return '₹' + value;
                    }
                },
                        beginAtZero: true,
                        title: {
          color: 'red',
          display: true,
          text: 'Sales in INR(₹) '
        }
                    }
                    
                }
                
            }
            
        });
    {% else %}
       var ctx = document.getElementById('graph').getContext('2d');
         var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for key in month.keys %} 
                            {% if key == 1 %}
                            'Jan', 
                            {% elif key == 2 %}
                            'Feb', 
                            {% elif key == 3 %}
                            'Mar', 
                            {% elif key == 4 %}
                            'Apr', 
                            {% elif key == 5 %}
                            'May', 
                            {% elif key == 6 %}
                            'Jun', 
                            {% elif key == 7 %}
                            'Jul', 
                            {% elif key == 8 %}
                            'Aug', 
                            {% elif key == 9 %}
                            'Sep', 
                            {% elif key == 10 %}
                            'Oct', 
                            {% elif key == 11 %}
                            'Nov', 
                            {% elif key == 12 %}
                            'Dec', 

                            {% endif %}
                            {% endfor %}],
                datasets: [{
                   
                    data: [{% for value in month.values %} '{{value}}', {% endfor %}],
                    backgroundColor: getRandomColorEachBar({{month|length}}),
                    borderWidth: 1
                }]
            },
            options: { 
                plugins:{
                legend: {
    display: false,
},
tooltip: {
                callbacks: {
                    label: function(context) {
                        let label = context.dataset.label || '';

                        if (label) {
                            label += ': ';
                        }
                        if (context.parsed.y !== null) {
                            label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'INR' }).format(context.parsed.y);
                        }
                        return label;
                    }
                }
            }

                },
                scales: {
                    x:{
                        title:{
                            display:'true',
                            color:'red',
                            text:'Month',
                        }
                    },
                    y: {
                        ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, ticks) {
                        return '₹' + value;
                    }
                },
                        beginAtZero: true,
                        title: {
          color: 'red',
          display: true,
          text: 'Sales in INR(₹) '
        }
                    }
                    
                }
                
            }
            
        });



        {% endif %}
        //Monthly Sales
        function monthly(){
            function updateConfigAsNewObject(myChart){
    myChart.data = {
                labels: [{% for key in month.keys %} 
                            {% if key == 1 %}
                            'Jan', 
                            {% elif key == 2 %}
                            'Feb', 
                            {% elif key == 3 %}
                            'Mar', 
                            {% elif key == 4 %}
                            'Apr', 
                            {% elif key == 5 %}
                            'May', 
                            {% elif key == 6 %}
                            'Jun', 
                            {% elif key == 7 %}
                            'Jul', 
                            {% elif key == 8 %}
                            'Aug', 
                            {% elif key == 9 %}
                            'Sep', 
                            {% elif key == 10 %}
                            'Oct', 
                            {% elif key == 11 %}
                            'Nov', 
                            {% elif key == 12 %}
                            'Dec', 

                            {% endif %}
                            {% endfor %}],
                datasets: [{
                    label: 'sales',
                    data: [{% for value in month.values %} '{{value}}', {% endfor %}],
                    backgroundColor:getRandomColorEachBar({{month|length}}) ,
                    borderWidth: 1
                }]
            };

    myChart.options={ 
                plugins:{
                legend: {
    display: false,
},
tooltip: {
                callbacks: {
                    label: function(context) {
                        let label = context.dataset.label || '';

                        if (label) {
                            label += ': ';
                        }
                        if (context.parsed.y !== null) {
                            label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'INR' }).format(context.parsed.y);
                        }
                        return label;
                    }
                }
            }

                },
                scales: {
                    x:{
                        title:{
                            display:'true',
                            color:'red',
                            text:'Month',
                        }
                    },
                    y: {
                        ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, ticks) {
                        return '₹' + value;
                    }
                },
                        beginAtZero: true,
                        title: {
          color: 'red',
          display: true,
          text: 'Sales in INR(₹) '
        }
                    }
                    
                }
                
            };
    myChart.update();
}
updateConfigAsNewObject(myChart);
        }






        //Daily Sales
       function daily(){
        function updateConfigAsNewObject(myChart){
    myChart.data = {
        labels: [{% for key in day.keys %} 
                            '{{ current_date|date:'M' }}{{key}}',
                            {% endfor %}],
                datasets: [{
                    label: 'sales',
                    data: [{% for value in day.values %} '{{value}}', {% endfor %}],
                    backgroundColor:getRandomColorEachBar({{day|length}}),
                   
                    borderWidth: 1
                }],
    };
    myChart.options={ 
                plugins:{
                legend: {
    display: false,
},
tooltip: {
                callbacks: {
                    label: function(context) {
                        let label = context.dataset.label || '';

                        if (label) {
                            label += ': ';
                        }
                        if (context.parsed.y !== null) {
                            label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'INR' }).format(context.parsed.y);
                        }
                        return label;
                    }
                }
            }

                },
                scales: {
                    x:{
                        title:{
                            display:'true',
                            color:'red',
                            text:'Day',
                        }
                    },
                    y: {
                        ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, ticks) {
                        return '₹' + value;
                    }
                },
                        beginAtZero: true,
                        title: {
          color: 'red',
          display: true,
          text: 'Sales in INR(₹) '
        }
                    }
                    
                }
                
            };
    myChart.update();
}
updateConfigAsNewObject(myChart);
} 



//Yearly Sales
function yearly()
{
    function updateConfigAsNewObject(myChart){
    myChart.data = {
        labels: [{% for key in year.keys %} 
                            '{{key}}',
                            {% endfor %}],
                datasets: [{
                    label: 'sales',
                    data: [{% for value in year.values %} '{{value}}', {% endfor %}],
                    backgroundColor:getRandomColorEachBar({{year|length}}),
                    borderWidth: 1
                }],
    };
    myChart.options={ 
                plugins:{
                legend: {
    display: false,
},
tooltip: {
                callbacks: {
                    label: function(context) {
                        let label = context.dataset.label || '';

                        if (label) {
                            label += ': ';
                        }
                        if (context.parsed.y !== null) {
                            label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'INR' }).format(context.parsed.y);
                        }
                        return label;
                    }
                }
            }

                },
                scales: {
                    x:{
                        title:{
                            display:'true',
                            color:'red',
                            text:'Year',
                        }
                    },
                    y: {
                        ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, ticks) {
                        return '₹' + value;
                    }
                },
                        beginAtZero: true,
                        title: {
          color: 'red',
          display: true,
          text: 'Sales in INR(₹) '
        }
                    }
                    
                }
                
            };
    myChart.update();
}
updateConfigAsNewObject(myChart);
}
      </script>
{% endblock %} 
